<button class="mat-button" style="float: left;" onclick="onModalDialog()">
    <mat-icon>add</mat-icon>
    <p style="display: inline-block; margin-top: 0.9vh;">Thêm</p>
</button>
<div style="display: flex; justify-content: center;">
    <input type="text" onkeyup="doFilter(event.target.value)" placeholder="Tìm kiếm">
</div>
<table class="mat-table mat-elevation-z8" style="width: 100%;">
    <thead>
        <tr>
            <th class="make-gold"> Id </th>
            <th class="make-gold"> Sản Phẩm </th>
            <th class="make-gold"> Màu </th>
            <th class="make-gold"> Size </th>
            <th class="make-gold"> Số lượng tồn </th>
            <th class="make-gold"> Sửa, xóa </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of service.dataSource">
            <td> {{element.id}} </td>
            <td> {{element.tenSanPham}} </td>
            <td> {{element.tenMau}} </td>
            <td> {{element.tenSize}} </td>
            <td> {{element.soLuongTon}} </td>
            <td>
                <button onclick="populateForm(element)" class="mat-icon-button" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <a onclick="clickDelete(element.id)" class="mat-icon-button" color="warn">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
</div>
