<button class="mat-button" style="float: left;" (click)="exportGeneratePdf()">
    <!-- exports() -->
    <p style="display: inline-block; margin-top: 0.9vh;">Export pdf</p>
</button>
<button class="mat-button" style="float: left;" (click)="onSelectedAdd()">
    <mat-icon>add</mat-icon>
    <p style="display: inline-block; margin-top: 0.9vh;">Thêm</p>
</button>
<div style="display: flex; justify-content: center;">
    <input type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
</div>
<table class="mat-table mat-elevation-z8" style="width: 100%;">
    <thead>
        <tr>
            <th class="make-gold"> Id </th>
            <th class="make-gold"> Tên </th>
            <th class="make-gold"> Hình </th>
            <th class="make-gold"> Trạng thái SP </th>
            <th class="make-gold"> Giá bán</th>
            <th class="make-gold"> Giá nhập </th>
            <th class="make-gold"> Hoạt động </th>
            <th class="make-gold"> Nhãn hiệu </th>
            <th class="make-gold"> Loại </th>
            <th class="make-gold"> Số lượng Like </th>
            <th class="make-gold"> Số lượng Comment </th>
            <th> active </th>
            <th class="make-gold"> Ẩn/hiện </th>
            <th class="make-gold"> Sửa, xóa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of service.dataSource">
            <td> {{element.id}} </td>
            <td> {{element.ten}} </td>
            <td>
                <img src="https://localhost:44302/Images/list-image-product/{{element.image}}" class="rounded mb-3" width="80">
            </td>
            <td> {{element.trangThaiSanPham}} </td>
            <td> {{element.giaBan|number}} VNĐ </td>
            <td> {{element.giaNhap|number}} VNĐ </td>
            <td>
                <mat-icon *ngIf="element.trangThaiHoatDong==1" style="color: green;" class="active-icon green-600 s-16">check</mat-icon>
                <mat-icon *ngIf="element.trangThaiHoatDong==0" style="color: red;" class="active-icon red-500 s-16">close</mat-icon>
            </td>
            <td> {{element.tenNhanHieu}} </td>
            <td> {{element.tenLoai}} </td>
            <td> {{element.soLuongLike}} </td>
            <td> {{element.soLuongComment}} </td>
            <td> {{element.activate}} </td>
            <td>
                <mat-slide-toggle [checked]="element.trangThaiHoatDong" (change)="updateActiveStatus(element)"></mat-slide-toggle>
            </td>
            <td>
                <button (click)="populateForm(element)" class="mat-icon-button" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <a (click)="clickDelete(element.id)" class="mat-icon-button" color="warn">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
</div>
